.aboutMe {
    margin-top: 200px;
    @media (max-width: 990px) {
      display: grid;
      grid-template-columns: 1fr;
    }

    
  .container {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 990px) {
      flex-direction: column;
    }
  }
  &__text {
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 155%;
    color: #C3C2BC;
    display: flex;
    max-width: 1000px;
    margin-right: 250px;
    @media (max-width: 990px){
      margin-right: 0;
      text-align: center;
    }


  }
}

.img__container {
  max-width: 200px;
  position: relative;
  margin-top: 50px;
  height: 200px;
  margin-inline: auto;
  .orbit-image {
    position: absolute;
  }
  img {
    right: 20px;
    width: 80px;
    height: 80px;
  }
  .orbit-image:nth-child(1) {
    left: 50px;
    top: 50px;
  }
  .orbit-image:nth-child(2) {
    right: 60px;
    bottom: -40px;
    @media (max-width: 990px) {
      right: 0;
    }
  }
  .orbit-image:nth-child(3) {
    left: 33px;
    right: 10px;
    bottom: 150px;
  }
  .orbit-image:nth-child(4) {
    right: 150px;
    @media (max-width: 990px) {
      right: 100px;
      top: 30px;
    }
  }
  .orbit-image:nth-child(5) {
    bottom: 100px;
  }

  @keyframes bounce-animation {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  @for $i from 1 through 5 {
    .orbit-image:nth-child(#{$i}) {
      animation: bounce-animation calc(1s + ($i * 0.2s)) infinite;
      animation-delay: ($i * 0.1s);
    //   width: 100px;
    //   height: 100px;
      margin: 10px;
    }
}
}
