.contact {
  .container {
    @media (max-width: 990px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-inline: auto;
    }
  }
  
  &__title {
    margin-top: 200px;
    font-family: "League Spartan";
    font-weight: 400;
    font-size: 72px;
    line-height: 112.5%;
    color: #ebebe8;
  }

  &__desc {
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 155%;
    color: #c3c2bc;
  }

  &__menu {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    text-transform: capitalize;
    margin-bottom: 200px;
    @media (max-width: 990px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-inline: auto;
      gap: 20px;
    }
  }

  &__link {
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 29px;
    color: #ebebe8
  }
}
