.header {
  display: flex;
  width: 100%;
  padding: 15px;
  &__container {
    display: flex;
    width: 100%;
    padding: 15px 0;
  }


  &__nav {
    margin-left: auto;
    display: flex;
    gap: 28px;
    flex-direction: column;
    a {
      text-decoration: none;
      font-family: 'League Spartan';
      font-weight: 500;
      font-size: 22px;
      line-height: 40px;
      letter-spacing: 0.1px;
      color: #ebebe8;
    }
  }

  
}
